body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  
}

.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Make the parent take the full height of the viewport (optional) */
}

.content-container {
  position: fixed; /* Fixes the entire content container */
  display: flex; /* Aligns children side-by-side */
  background-color: white;
  color: #3A2F5E !important;

  width: calc(100% - 70px); /* 20px on each side */
  left: 35px; /* Align it leaving space on the left */
  right: 35px; /* Align it leaving space on the right */
  height: calc(100% - 70px); /* 20px on each side */
  top: 35px; /* Align it leaving space on the left */
  bottom: 35px; /* Align it leaving space on the right */
  border-radius: 70px;
  box-shadow: 2px 2px 2px 0px #9C93AC	;
}


.logo {
  width: 200px;
  display: block;
  margin: 10px auto;
}

.arrow-icon {
  width: 10px;
  margin-right: 24px;
  margin-left: 40px;
}


.sidebar {
  width: 350px;
  background-color: white;
  color: #3A2F5E;
  padding-top: 24px;
  position: sticky;
  top: 0;
  border-radius: 80px 0px 0px 80px;
  border-right: solid .4px #3A2F5E;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 2px 22px 25px 22px;
}

.sidebar ul li a {

  text-decoration: none;
  display: block;
  font-size: 19px;
}

.sidebar ul li a:hover {
  cursor: pointer;
}

.main-content {
  overflow:scroll;
  padding: 20px;
  width: 100%;
  scrollbar-width: none;
}

h1 {
  font-weight: 300;
  font-size: 80px;
}
h2 {
  font-weight: 300;
  font-size: 60px;
}
h3 {
  font-weight: 300;
  font-size: 25px;
}

.welcome {
  margin-left: 80px;
  margin-top: 130px;
  max-width: 600px;
  margin-bottom: 200px
}
.about-page {
  margin-left: 60px;
}
.embla {
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 100%; /* Each slide takes full width */
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100px;
}
